<div class="flex justify-center items-center flex-col w-screen h-screen gap-2">
  <div class="absolute inset-0 bg-[url('assets/images/finance.svg')]
  bg-no-repeat bg-size-[35vw] sm:md:lg:bg-bottom-left bg-top mt-32 opacity-40 z-0 pointer-events-none">
  </div>

  <p-card class="!h-min">
    <div class="flex flex-col bg-[var(--p-surface-900)] border-0 rounded-xl p-4 w-[30rem] m-2 gap-2">
      <h1 class="text-4xl text-center">Fin Tracker</h1>

      <p-divider align="center">
        <b>Inicia sesión</b>
      </p-divider>

      <form [formGroup]="formGroupLogin" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">
        <div class="flex flex-col gap-1">
          <input pInputText fluid type="email" id="email" placeholder="Correo Electrónico" formControlName="email"
            [invalid]="isInvalid('email')" [disabled]="isLoginInProcess" />

          @if (isInvalid('email') && formGroupLogin.get('email')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple">
            Este campo es obligatorio.
          </p-message>
          }

          @if (isInvalid('email') && formGroupLogin.get('email')?.errors?.['email']) {
          <p-message severity="error" size="small" variant="simple">
            El correo electrónico ingresado no es válido.
          </p-message>
          }
        </div>

        <div class="flex flex-col gap-1">
          <p-password fluid placeholder="Contraseña" id="password" formControlName="password" [feedback]="false"
            autocomplete="off" [toggleMask]="true" [invalid]="isInvalid('password')" [disabled]="isLoginInProcess" />

          @if (isInvalid('password') && formGroupLogin.get('password')?.errors?.['required']) {
          <p-message severity="error" size="small" variant="simple">
            Este campo es obligatorio.
          </p-message>
          }
        </div>
        <button pButton severity="primary" type="submit" [disabled]="isLoginInProcess">
          <span pButtonLabel>{{ isLoginInProcess ? 'Validando Datos. Por favor, espere...' : "Ingresar" }}</span>
        </button>
      </form>
    </div>
  </p-card>
</div>
