<div class="flex justify-center items-center flex-col w-screen h-screen gap-2">
  @if (formType === 0) {
  <div animate.enter="fade-in-left" animate.leave="fade-out-left"  class="absolute inset-0 bg-[url('assets/images/finance.svg')]
  bg-no-repeat bg-size-[35vw] sm:md:lg:bg-bottom-left bg-top mt-20 opacity-40 z-0 pointer-events-none">
  </div>
  } @else {
  <div animate.enter="fade-in-rigth" animate.leave="fade-out-rigth" class="absolute inset-0 bg-[url('assets/images/sign-up.svg')]
  bg-no-repeat bg-size-[35vw] sm:md:lg:bg-bottom-right bg-top mt-20 opacity-40 z-0 pointer-events-none">
  </div>
  }

  <p-card class="!h-min !bg-transparent !border-none !shadow-none">
    <div class="w-[30rem] flex flex-col justify-center items-center overflow-hidden
      rounded-2xl p-6 bg-white/10 backdrop-blur-xs ring-1 ring-white/15">
      <h1 class="text-4xl text-center">FinTracker</h1>

      @if (formType === 0) {
      <p-divider align="center">
        <b>Inicia sesión</b>
      </p-divider>
      } @else {
      <p-divider align="center">
        <b>Registro de usuario</b>
      </p-divider>
      }

      <div class="w-full">
        @if (formType === 0) {
        <fintracker-login-component (goToRegister)=" formType=$event"/>
        } @else {
        <fintracker-register-component (goToLogin)="formType = $event"/>
        }
      </div>
    </div>
  </p-card>
</div>