<p-toolbar>
  <ng-template #start>
    <div class="flex flex-col gap-2">
      <h1 class="text-[clamp(24px,5vw,36px)] font-semibold">
        ¡{{ welcomeMessages[randomIndex] }}
        <span class="text-[var(--color-violet-500)] text-[clamp(24px,5vw,36px)]"> {{ usernameLogged }}</span>!
      </h1>

      <p class="text-[clamp(16px,5vw,28px)]">
        Tus finanzas están en buen camino. ¿Listo para mejorar aún más?
      </p>
    </div>
  </ng-template>
</p-toolbar>

<div class="grid grid-cols-4 gap-2 mt-2">
  <div class="col-span-4">
    <p-card header="Disponible para gastar">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="order-2 md:order-1 flex flex-col gap-2">
          <p-float-label class="w-full mt-3" variant="on">
            <p-select id="periodOfTime" [options]="periodOfTime" [(ngModel)]="periodSelected" optionLabel="title"
              optionValue="id" fluid />
            <label for="periodOfTime">Periodo</label>
          </p-float-label>

          <p-divider />

          <div class="">
            <p class="text-lg">Balance actual: {{ currentBalance | currency}}</p>
          <p class="text-lg">Balance proyectado: {{ currentBalance | currency}}</p>
          <p class="text-lg">Gastos proyectados: {{ 0 | currency}}</p>
          </div>
        </div>

        <div class="order-1 md:order-2">

        </div>
      </div>
    </p-card>
  </div>

  <div class="md:col-span-2 col-span-4">
    <p-card header="Este mes">

    </p-card>
  </div>

  <div class="md:col-span-2 col-span-4">
    <p-card header="Próximo">

    </p-card>
  </div>

</div>