<div class="flex flex-col justify-center  gap-3 !w-full">
  <div class="flex flex-col gap-4">
    <div class="flex justify-center items-center w-full">
      <p-float-label variant="on" class="mt-2">
        <p-inputnumber [(ngModel)]="balance" inputId="balance_input" mode="currency" currency="USD" locale="en-US"
          autocomplete="off" size="large" class="underline-input" fluid placeholder="$0.00" autofocus />
        <label for="balance_input">Monto</label>
      </p-float-label>
    </div>

    @if (transactionType !== ETransactionType.CARD_PAYMENT) {
    <p-float-label variant="on">
      <input pInputText fluid id="input_description" pSize="large" [(ngModel)]="desc" [autocomplete]="false" />
      <label for="input_description">Descripción</label>
    </p-float-label>
    }

    <p-float-label variant="on">
      <p-datepicker id="input_transaction_date" [(ngModel)]="spentDate" fluid dateFormat="dd/mm/yy" appendTo="body"
        size="large" />
      @switch (transactionType) {
      @case (ETransactionType.PAYMENT) {
      <label for="input_transaction_date">Pagar antes de</label>
      }
      @case (ETransactionType.INCOME) {
      <label for="input_transaction_date">Día de pago</label>
      }
      @case (ETransactionType.TRANSFER) {
      <label for="input_transaction_date">Fecha de transferencia</label>
      }
      @case (ETransactionType.CARD_PAYMENT) {
      <label for="input_transaction_date">Fecha de pago</label>
      }
      @default {
      <label for="input_transaction_date">Fecha de transacción</label>
      }
      }
    </p-float-label>

    <!-- @if (transactionType === 'incoming') {
    <div class="flex flex-row gap-2 w-full">
      <div class="flex flex-row gap-3 items-center justify-start w-full">
        <p-toggleswitch id="toggle_is_recurring" [(ngModel)]="isRecurring"/>
        <label for="toggle_is_recurring">Pago recurrente</label>
      </div>

      @if (isRecurring) {
      <p-select [options]="recurringPeriods" [(ngModel)]="selectedRecurringPeriod" optionLabel="label"
        placeholder="Seleccione un periodo" fluid />

        <p-select [options]="days" [(ngModel)]="selectedRecurringPeriod"
        placeholder="Seleccione un periodo" fluid />
      }
    </div>
    } -->

    @if (transactionType !== ETransactionType.CARD_PAYMENT) {
    <p-float-label variant="on">
      <p-select id="input_account" [options]="accountsGroup" [(ngModel)]="selectedAccount" [group]="true" size="large"
        fluid>
        <ng-template let-group #group>
          <div class="flex items-center">
            <span>{{ group.label }}</span>
          </div>
        </ng-template>
      </p-select>

      @switch (transactionType) {
      @case (ETransactionType.INCOME) {
      <label for="input_account">Depositar en</label>
      }
      @case (ETransactionType.TRANSFER) {
      <label for="input_account">Cuenta origen</label>
      }
      @default {
      <label for="input_account">Seleccione una cuenta</label>
      }
      }
    </p-float-label>
    } @else {
    <p-float-label variant="on">
      <p-select id="input_account" [options]="creditAccounts" [(ngModel)]="selectedAccount" optionLabel="accountName"
        size="large" optionValue="_id" fluid />
      <label for="input_account">Tarjeta de crédito</label>
    </p-float-label>
    }

    @if (transactionType === ETransactionType.CARD_PAYMENT) {
    <p-float-label variant="on">
      <p-select id="input_account" [options]="debitAccounts" [(ngModel)]="selectedAccountDestiny" size="large"
        optionLabel="accountName" optionValue="_id" fluid />
      <label for="input_account">Pagar desde</label>
    </p-float-label>
    }

    @if (transactionType === ETransactionType.TRANSFER) {
    <p-float-label variant="on">
      <p-select id="input_account" [options]="accountsGroup" [(ngModel)]="selectedAccountDestiny" [group]="true"
        size="large" fluid>
        <ng-template let-group #group>
          <div class="flex items-center">
            <span>{{ group.label }}</span>
          </div>
        </ng-template>
      </p-select>
      <label for="input_account">Cuenta destino</label>
    </p-float-label>
    }

    @if (transactionType !== ETransactionType.TRANSFER && transactionType !== ETransactionType.CARD_PAYMENT) {
    <fintracker-categories-list [transactionType]="transactionType"
      (selectedCategoryOutput)="selectedCategory = $event" />
    }

    <!-- @if (transactionType !== ETransactionType.CARD_PAYMENT) { -->
    <p-float-label variant="on">
      <textarea id="input_descripcion" rows="3" cols="30" pTextarea [(ngModel)]="notes" fluid></textarea>
      <label for="input_descripcion">Notas</label>
    </p-float-label>
    <!-- } -->
  </div>

  <div
    class="sticky bottom-0 z-20 px-4 py-3 bg-[var(--p-surface-0)]/90 backdrop-blur-md border-t border-[var(--p-content-border-color)]">
    <div class="flex justify-end gap-4">
      <p-button label="Cancelar" severity="secondary" (onClick)="closeDialog()" />
      <p-button label="Guardar" severity="primary" (onClick)="saveChanges()" />
    </div>
  </div>