<p-confirmpopup />

<div class="flex flex-col gap-4 w-full">
  <p-float-label variant="on" class="mt-2">
    <p-inputnumber [(ngModel)]="balance" inputId="balance_input" mode="currency" currency="USD" locale="en-US"
      placeholder="0.00" autocomplete="off" pSize="large" fluid />
    <label for="balance_input">Balance</label>
  </p-float-label>

  <p-float-label variant="on">
    <input pInputText id="description" [(ngModel)]="description" autocomplete="off" fluid />
    <label for="description">Descripción</label>
  </p-float-label>

  @if (type === 0) {
  <p-float-label variant="on">
    <p-select id="accountType_label" [options]="accountsType" [(ngModel)]="selectedAccountType" optionLabel="name"
      optionValue="id" placeholder="Tipo" fluid appendTo="body" />
    <label for="accountType_label">Tipo</label>
  </p-float-label>
  }

  @if (type === 1) {
  <div class="flex flex-row gap-4 items-end">
    <p-float-label variant="on" class="w-full">
      <p-inputnumber id="creditCardLimit" [(ngModel)]="creditCardLimit" autocomplete="off" fluid mode="currency"
        currency="USD" locale="en-US" placeholder="0.00" />
      <label for="creditCardLimit">Límite de crédito</label>
    </p-float-label>

    <p-divider layout="vertical" />

    <div class="flex flex-col gap-4 justify-center">
      <!-- <p>Últimos 4 dígitos </p> -->
      <p-float-label variant="on">

        <p-inputotp id="input_last_four" size="large" [integerOnly]="true" [(ngModel)]="lastDigits">
          <ng-template #input let-token let-events="events">
            <input class="custom-otp-input" (input)="events.input($event)" (keydown)="events.keydown($event)"
              type="text" [attr.value]="token" [maxLength]="1" />
          </ng-template>
        </p-inputotp>
        <!-- <label for="input_last_four">Últimos 4 dígitos</label> -->
      </p-float-label>

    </div>
  </div>

  <p-float-label variant="on">
    <p-inputnumber id="APR" [(ngModel)]="APR" autocomplete="off" fluid suffix="%" [minlength]="1" [maxlength]="3" />
    <label for="APR">Tasa de Interés Anual</label>
  </p-float-label>

  <div class="flex flex-row w-full gap-4">
    <p-float-label class="w-full" variant="on">
      <p-inputnumber id="statementCloseDay" [(ngModel)]="statementCloseDay" autocomplete="off" fluid mode="decimal"
        [min]="1" [max]="28" [showButtons]="true" buttonLayout="horizontal">
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>

        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span>
        </ng-template>
      </p-inputnumber>

      <label for="statementCloseDay">Día de corte</label>
    </p-float-label>

    <p-float-label class="w-full" variant="on">
      <p-inputnumber id="paymentDueDay" [(ngModel)]="paymentDueDay" autocomplete="off" fluid mode="decimal" [min]="1"
        [max]="28" [showButtons]="true" buttonLayout="horizontal">
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>

        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span>
        </ng-template>
      </p-inputnumber>
      <label for="paymentDueDay">Día de Pago</label>
    </p-float-label>
  </div>
  }

</div>

<p-divider />

<div class="flex flex-row items-center w-full" [ngClass]="{ 'justify-end' : action === 'Agregar',
  'justify-between' : action === 'Editar'
 }">
  @if (action === 'Editar') {
  <div>
    <p-button (onClick)="showDialogDelete($event)" severity="danger" rounded [text]="true" icon="pi pi-trash"
      [outlined]="true" />
  </div>
  }

  <div class="flex justify-end gap-4">
    <p-button label="Cancelar" severity="secondary" (click)="dialogService.close(false)" />
    <p-button label="Guardar" severity="primary" (click)="saveChanges()" />
  </div>
</div>