<p-card>
  <div class="flex flex-row justify-between items-center w-full">
    <h1 class="text-4xl font-semibold">Cuentas</h1>
    <button pButton icon="pi pi-plus" (click)="show('Agregar', selectedTab)">
      Agregar {{ selectedTab === 0 ? 'cuenta de débito' : 'tarjeta de crédito' }}
    </button>
  </div>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0" (click)="selectedTab = 0" class="w-[50%]">Cuentas de débito</p-tab>
      <p-tab value="1" (click)="selectedTab = 1" class="w-[50%]">Tarjetas de crédito</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="0">
        <div class="flex flex-col gap-4">
          @for (item of remappedAccountsList; track $index) {
          <p-card>
            <ng-template #title>
              <div class="flex flex-row justify-between w-full">
                <span>{{ item.type }}</span>
                <span>{{ remappedAccountsList[$index].totalBalance | currency:'USD':'symbol':'1.2-2':'en-US' }}</span>
              </div>
            </ng-template>

            <p-divider />

            <div class="flex flex-col w-full gap-2">
              @for (item of remappedAccountsList[$index].accounts; track $index) {
              <p-button fluid severity="secondary" (onClick)="show('Editar', this.selectedTab, item)">
                <ng-template #content>
                  <div class="flex flex-row justify-between items-center w-full">
                    <p>
                      {{ item.accountName }}
                    </p>
                    <p>{{ item.currentBalance | currency:'USD':'symbol':'1.2-2':'en-US' }}</p>
                  </div>
                </ng-template>
              </p-button>
              }
            </div>
          </p-card>
          }
        </div>

        <p-divider />

        <div class="flex justify-end">
          <p class="p-card-title"> Balance total: {{ accountsBalanceTotal | currency:'USD':'symbol':'1.2-2':'en-US' }}
          </p>
        </div>
      </p-tabpanel>

      <p-tabpanel value="1">
        <div class="flex flex-col gap-4">
          @for (item of remappedCreditList; track $index) {
          <p-button severity="secondary" fluid (onClick)="show('Editar', selectedTab, item)">
            <ng-template #content>
              <div class="flex flex-col w-full">
                <div class="w-full flex justify-between items-center">
                  <span class="flex flex-row gap-4 items-center">
                    <i class="pi pi-credit-card"></i>
                    <p>{{ item.accountName }}</p>
                  </span>

                  <span>
                    **** {{ item.card?.lastDigits }}
                  </span>
                </div>

                <div class="flex flex-row justify-between items-center !w-full pt-2">
                  <div class="">
                    <p class="flex flex-col gap-1 font-extralight">
                      Balance:
                      <span class="text-2xl font-normal">{{ item.currentBalance |
                        currency:'USD':'symbol':'1.2-2':'en-US'
                        }}</span>
                    </p>
                  </div>

                  <div class="flex flex-col justify-end items-end gap-4 !w-[25%]">
                    <div class="flex flex-col items-center w-full gap-2" [ngStyle]="styleVars(item)">
                      <p class="font-extralight">Disponible</p>
                      <p-progressbar [value]="getProgessValue(item.currentBalance, item.card?.creditCardLimit!)"
                        [showValue]="false" class="!w-full !h-[8px]" />
                      <p class="font-extralight">{{ item.card?.creditCardLimit! - item.currentBalance |
                        currency:'USD':'symbol':'1.2-2':'en-US' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>

          </p-button>
          }
        </div>

        <p-divider />

        <div class="flex justify-end">
          <p class="p-card-title">Balance total: {{ creditCardsBalance | currency:'USD':'symbol':'1.2-2':'en-US' }} </p>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-card>