@import "tailwindcss";
@import "primeicons/primeicons.css";

@source inline("text-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{400,500,600,700}/{90}");
@source inline("bg-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{400,500,600,700}/{10}");
@source inline("border-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{400,500,600,700}/{50}");


::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

html {
  -ms-overflow-style: none;
}

body {
  background-color: var(--p-surface-950);
  font-family: 'Monserrat', sans-serif;
}

p-card {
  border: 1px solid var(--p-toolbar-border-color, #334155) !important;
  border-radius: 6px !important;
  height: 100% !important;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.p-toast-message-success .p-toast-detail {
  color: #fff !important;
}

.pb-state-low .p-progressbar {
  background-color: #dcfce7;
}

.pb-state-mid .p-progressbar {
  background-color: #fef9c3;
}

.pb-state-high .p-progressbar {
  background-color: #fee2e2;
}

.pb-state-low .p-progressbar .p-progressbar-value {
  background-color: #22c55e;
}

.pb-state-mid .p-progressbar .p-progressbar-value {
  background-color: #eab308;
}

.pb-state-high .p-progressbar .p-progressbar-value {
  background-color: #ef4444;
}

.p-togglebutton-sm .p-togglebutton-content {
  padding: 0 !important;
}

.p-togglebutton {
  border-radius: 5.75px !important;
  padding: 0 !important;
}

.p-datepicker .p-datepicker-calendar td>span,
.p-datepicker .p-datepicker-calendar td>button {
  height: 4.8rem !important;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: start;
}

.p-datepicker-day {
  border-radius: 6px !important;
}

.p-datepicker-day-selected {
  /* background: var(--p-surface-00) !important; */
  color: rgb(255, 255, 255) !important;
}

.p-datepicker .p-datepicker-calendar td>span,
.p-datepicker .p-datepicker-calendar td>button {
  line-height: 0px !important;
}

.p-datepicker .p-datepicker-calendar td.p-datepicker-today > span,
.p-datepicker .p-datepicker-calendar td.p-datepicker-today > button {
  background: var(--p-surface-400) !important;
  color: inherit !important;
  box-shadow: none !important;
}